<template>
  <div class="">
    <v-container fluid>
      <div class="about-me-banner">
        <h2>Sobre mim</h2>
      </div>
    </v-container>
    <v-container>
      <v-timeline>
        <v-timeline-item color="indigo">
          <template v-slot:opposite>
            <span v-text="2002"></span>
          </template>
          <div class="py-1">
            <h2 class="aside-text">
              Nasci em Curitiba em 5 de janeiro de 2002. Porém passei um tempo
              no Mato Grosso do sul
            </h2>
          </div>
        </v-timeline-item>
        <v-timeline-item color="red">
          <template v-slot:opposite>
            <span v-text="2006"></span>
          </template>
          <div class="py-2">
            <h2 class="aside-text">Retorno a Curitiba de forma definitiva</h2>
          </div>
        </v-timeline-item>
        <v-timeline-item color="green">
          <template v-slot:opposite>
            <span v-text="2007"></span>
          </template>
          <div class="py-2">
            <h2 class="aside-text">
              Foi quando eu tive o primeiro contato com um computador, e desde
              sempre tentando entender seu funcionamento
            </h2>
          </div>
        </v-timeline-item>
        <v-timeline-item color="grey">
          <template v-slot:opposite>
            <span v-text="2015"></span>
          </template>
          <div class="py-2">
            <h2 class="aside-text">
              Foi o ano em que escrevi minha primeira linha de código, uma
              calculadora basica em C.
            </h2>
          </div>
        </v-timeline-item>
        <v-timeline-item color="yellow">
          <template v-slot:opposite>
            <span v-text="2017"></span>
          </template>
          <div class="py-2">
            <h2 class="aside-text">
              Entrei no curso Técnico em Informática no SENAI
            </h2>
          </div>
        </v-timeline-item>
        <v-timeline-item color="black">
          <template v-slot:opposite>
            <span v-text="2020"></span>
          </template>
          <div class="py-2">
            <h2 class="aside-text">
              Entrei no curso de Informática Biomédica na UFPR
            </h2>
          </div>
        </v-timeline-item>
      </v-timeline>
      <h2 class="mt-4 mb-4">Livros preferidos</h2>
      <v-row class="livros-preferidos">
        <v-col cols="12" md="4">
          <img class="elevation-6" src="../assets/img/livro1.jpg" alt="" />
        </v-col>
        <v-col cols="12" md="4">
          <img class="elevation-6" src="../assets/img/livro2.jpg" alt="" />
        </v-col>
        <v-col cols="12" md="4">
          <img class="elevation-6" src="../assets/img/livro3.jpg" alt="" />
        </v-col>
      </v-row>
      <h2 class="mt-2 mb-2">Albuns preferidos</h2>
      <v-row>
        <v-col cols="12" md="4">
          <iframe
            src="https://open.spotify.com/embed/album/1Y4XNoZS7f2mYHnptFXrns"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
        </v-col>
        <v-col cols="12" md="4">
          <iframe
            src="https://open.spotify.com/embed/album/4FmI0F5GvvR1M9RURWnJV9"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
        </v-col>
        <v-col cols="12" md="4">
          <iframe
            src="https://open.spotify.com/embed/album/4cz4DkbeoFekanRMlbnZEp"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
        </v-col>
      </v-row>
      <h2 class="mt-2 mb-2">Filmes preferidos</h2>
      <v-row class="filmes-preferidos">
        <v-col cols="12" md="4">
          <img class="elevation-6" src="../assets/img/filme1.jpg" alt="" />
        </v-col>
        <v-col cols="12" md="4">
          <img class="elevation-6" src="../assets/img/filme2.jpg" alt="" />
        </v-col>
        <v-col cols="12" md="4">
          <img class="elevation-6" src="../assets/img/filme3.jpg" alt="" />
        </v-col>
      </v-row>
      <h2 class="mt-2 mb-2">Interesses</h2>
      <v-row class="d-flex justify-around interesses">
        <v-chip class="interesses-chip red white--text" > Astronomia </v-chip>
        <v-chip class="interesses-chip yellow "> Aviação </v-chip>
        <v-chip class="interesses-chip blue white--text"> Tech </v-chip>
        <v-chip class="interesses-chip purple white--text"> História </v-chip>
        <v-chip class="interesses-chip brown white--text"> Viagem </v-chip>
        <v-chip class="interesses-chip green white--text"> Café </v-chip>
        <v-chip class="interesses-chip indigo white--text"> Chimarrão </v-chip>
        <v-chip class="interesses-chip lime "> Chá </v-chip>
        <v-chip class="interesses-chip orange"> Metal Progressivo </v-chip>
        <v-chip class="interesses-chip blue-grey white--text"> Cozinhar </v-chip>
      </v-row>
    </v-container>
  </div>
</template>

<style lang="scss">
.about-me-banner {
  height: 200px;
  background-color: rgba(63, 81, 181, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: #fff;
    font-size: 36px;
  }
}
.aside-text {
  font-size: 18px;
}
.livros-preferidos img,
.filmes-preferidos img {
  width: 100%;
  height: 100%;
}
.interesses-chip {
  margin-right: 15px;
  margin-bottom: 25px;
}
.interesses {
  max-width: 500px;
  margin: 0 auto;
}
</style>