<template>
  <div class="dashboard-area">
    <v-card>
      <v-app-bar class="white--text" :color="this.color" height="100">
        <v-app-bar-nav-icon
          color="white"
          @click="drawer = true"
        ></v-app-bar-nav-icon>
        <v-toolbar-title>{{ this.$route.name }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <div class="avatar-area justify-center align-center d-none d-sm-flex">
          <div class="user-info mr-4 d-flex flex-column justify-center align-center">
            <h3 class="mr-4 mb-1">{{ user.name }}</h3>
            <span
              >Último login: {{ getFormatedDate || "Ainda não possui logins" }}
            </span>
          </div>
          <v-avatar color="primary" class="mlwhite--text" size="56">
            <img
              :src="
                user.gender === 'Masculino'
                  ? 'https://image.flaticon.com/icons/png/512/147/147144.png'
                  : 'https://image.flaticon.com/icons/png/512/194/194938.png'
              "
              alt="Avatar"
            />
          </v-avatar>
        </div>
      </v-app-bar>
    </v-card>
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.path"
        >
          <v-icon>
            {{ item.icon }}
          </v-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link @click="logout">
          <v-icon> mdi-logout </v-icon>
          <v-list-item-content>
            <v-list-item-title> Sair </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <slot></slot>
    <v-card>
      <v-footer :padless="true">
        <v-card flat tile width="100%" :color="this.color" class="text-center">
          <v-card-text>
            <v-btn link to="/dashboard" class="mr-2">
              <v-icon color="indigo"> mdi-home </v-icon>
            </v-btn>
            <v-btn link to="/hobbies" class="mr-2">
              <v-icon color="indigo"> mdi-yoga </v-icon>
            </v-btn>
            <v-btn link to="/about-me">
              <v-icon color="indigo"> mdi-face </v-icon>
            </v-btn>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-text class="white--text">
            {{ new Date().getFullYear() }} —
            <strong>Luis Felipe Cavalari</strong>
          </v-card-text>
        </v-card>
      </v-footer>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Dashboard",

  async mounted() {
    const user = this.$store.getters.getUser;
    console.log(this.$props);
    if (!user.last_login) {
      await this.$store.dispatch("me");
    }
  },
  data: () => ({
    drawer: false,
    items: [
      { title: "Home", icon: "mdi-home", path: "/dashboard" },
      { title: "Hobbies", icon: "mdi-yoga", path: "/hobbies" },
      { title: "Sobre mim", icon: "mdi-face-profile", path: "/about-me" },
    ],
  }),
  computed: {
    ...mapState(["user"]),
    getFormatedDate() {
      return this.$store.getters.formatedLastLogin;
    },
  },
  methods: {
    async getUserInfo() {
      try {
        this.$store.dispatch("me");
      } catch (error) {
        console.log(error);
      }
    },
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/login");
    },
  },
  props: ["color"],
};
</script>
<style>
</style>