<template>
    <v-container fluid>
      <div class="hobbies-area">
        <div class="hobbie-banner">
          <h2 class="white--text hobbie-title">Hortas hidroponicas</h2>
        </div>
        <v-container>
          <v-row>
            <v-col
             cols="12"
              md="6"
              
              class="d-flex flex-column justify-center align-center"
            >
              <h3 class="hobbie-title">O que é</h3>
              <p class="hobbie-description">
                A Horta hidroponica consiste em método de cultivo de hortaliças
                sem a utilização de terra, utilizando apenas água e minerais.
                Pode ser montada de forma horizontal ou vertical, geralmente é
                usado canos de esgoto para a construção.
              </p>
            </v-col>
            <v-col cols="12" md="6" >
              <img
                class="full-size-img elevation-12"
                src="../assets/img/horta2.jpg"
                alt=""
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <img
                class="full-size-img elevation-12"
                src="../assets/img/horta3.jpg"
                alt=""
              />
            </v-col>
            <v-col
              cols="12" md="6"
              class="d-flex flex-column justify-center align-center"
            >
              <h3 class="hobbie-title" >Vantagens</h3>
              <p class="hobbie-description">
                As hortas hidroponica possuem várias vantagens em relação ao cultivo tradicional , tais como:
                <ul>
                    <li> Incidencia de pragas exponecialmente mais rara </li>
                    <li> Melhor controle dos minerais  </li>
                    <li> Pouco espaço necessário </li>
                    <li> Fácil cultivo </li>
                    <li> Pouco sujeira </li>
                    <li> Cultivo com maior controle de qualidade </li>
                </ul>
              </p>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12" md="6"
              class="d-flex flex-column justify-center align-center"
            >
              <h3 class="hobbie-title" >Como começar</h3>
              <p class="hobbie-description">
                  Além do espaço, para uma horta basica é necessário.
                  <ul class="mt-2 mb-2 ">
                      <li> Canos de PVC </li>
                      <li> Reservatorio de água </li>
                      <li> Bomba de água </li>
                      <li> Pacote de minerais </li>
                  </ul>
                  A principio estes custos são maiores que as de hortas tradicionais, porém o valor é compensado
                  no resultado final.
              </p>
            </v-col>
            <v-col cols="12" md="6">
              <img
                class="full-size-img elevation-12"
                src="../assets/img/montagem_hidroponica.jpg"
                alt="horta"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <img
                class="full-size-img elevation-12"
                src="../assets/img/farm_tech.png"
                alt="horta"
              />
            </v-col>
            <v-col
              cols="12" md="6"
              class="d-flex flex-column justify-center align-center"
            >
              <h3 class="hobbie-title" >Possibilidades</h3>
              <p class="hobbie-description">
                  Pelo fato do cultivo de hortas hidroponicas possuir um maior controle em sua produção, ela permite diversas
                  possibilidades de automação e monitoramento, como medir a quantidade de minerais na água,
                  agendar eventos, monitorar temperatura da água e do ar etc... Sendo possivel receber e acionar ações 
                  através de equipamentos de baixo custo como Raspberry, ESP8266 e Arduino. Se tornando um excelente hobbie, com o aprendizado de diversas áreas
              </p>
            </v-col>
            
          </v-row>
          <h2 class="hobbie-title mt-3">Plantas que utilizam hidroponia</h2>
          <v-row>
              <v-col cols="6" md="4" >
                  <v-card>
                      <v-img
                       class="white--text align-end"
                       src="../assets/img/morango.jpg"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                       >
                        <v-card-title>
                            Morango
                        </v-card-title>
                      </v-img>
                  </v-card>
              </v-col>
              <v-col cols="6" md="4">
                  <v-card>
                      <v-img
                       class="white--text align-end"
                       src="../assets/img/tomate.jpg"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                       >
                        <v-card-title>
                            Tomate
                        </v-card-title>
                      </v-img>
                  </v-card>
              </v-col>
              <v-col cols="12" md="4">
                  <v-card height="100%">
                      <v-img
                       class="white--text align-end"
                       src="../assets/img/alface.jpeg"
                       height="100%"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                       >
                        <v-card-title >
                            Alface
                        </v-card-title>
                      </v-img>
                  </v-card>
              </v-col>
          </v-row>
          <v-row>
              <v-col cols="6" md="4">
                  <v-card>
                      <v-img
                       class="white--text align-end"
                       src="../assets/img/melao.jpg"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                       >
                        <v-card-title>
                            Melão
                        </v-card-title>
                      </v-img>
                  </v-card>
              </v-col>
              <v-col cols="6" md="4">
                  <v-card>
                      <v-img
                       class="white--text align-end"
                       src="../assets/img/rucula.jpeg"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                       >
                        <v-card-title>
                            Rucula
                        </v-card-title>
                      </v-img>
                  </v-card>
              </v-col>
              <v-col cols="12" md="4">
                  <v-card height="100%">
                      <v-img
                       class="white--text align-end"
                       src="../assets/img/couve.jpg"
                       height="100%"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                       >
                        <v-card-title >
                            Couve
                        </v-card-title>
                      </v-img>
                  </v-card>
              </v-col>
          </v-row>
        </v-container>
      </div>
    </v-container>
</template>

<style>
.hobbie-banner {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/horta.jpeg");
  background-size: cover;
  backdrop-filter: blur(10px);
  position: relative;
}
.hobbie-banner::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
}
.hobbie-title {
  font-size: 36px;
}
.hobbie-description {
  text-align: justify;
  margin-top: 15px;
  font-size: 22px;
  width: 100%;
}
.full-size-img {
  width: 100%;
}
.hobbie-title {
  color: greenyellow;
  font-size: 38px;
}
</style>