<template>
  <div class="home-area">
    <v-container>
      <h2 class="indigo--text mt-4">Bem vindo {{ user.name }}</h2>
      <v-row>
        <v-col>
          <strong> Nome:</strong>
          <span> {{ user.name }} </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <strong> Email </strong>
          <span> {{ user.email }} </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <strong> Gênero </strong>
          <span> {{ user.gender }} </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <strong> Estado Civil </strong>
          <span> {{ user.civilState }} </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <strong> Telefone </strong>
          <span> {{ user.phone }} </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <strong> CEP </strong>
          <span> {{ user.zipCode }} </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <strong> Endereço </strong>
          <span> {{ user.address }} </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <strong> Número </strong>
          <span> {{ user.number }} </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <strong> Cidade </strong>
          <span> {{ user.city }} </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <strong> Estado </strong>
          <span> {{ user.province }} </span>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["user"]),
  },
};
</script>

<style>
.home-area {
  height: calc(100vh - 223px);
}
</style>