<template>
  <v-container fluid class="pa-0">
    <div class="banner indigo darken-1 d-flex justify-center align-center">
      <nav class="white--text nav-menu">
        <ul class="d-flex flex-column justify-center align-center">
          <router-link to="/login">
            <v-btn class="nav-link indigo--text" x-large>
                <v-icon class="mr-4">
                    mdi-login
                </v-icon>
                Login
            </v-btn>
          </router-link>
          <router-link to="/sign-up">
            <v-btn class="nav-link indigo--text" x-large>
                <v-icon class="mr-4">
                    mdi-plus
                </v-icon>
                Cadastro
            </v-btn>
          </router-link>
        </ul>
      </nav>
    </div>
  </v-container>
</template>

<script>
export default {};
</script>

<style>
.banner {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.nav-link {
  max-width: 350px;
  margin-bottom: 15px;
  width: 100%;
  font-weight: bold;
}
.nav-menu,
.nav-menu ul,
.nav-menu,
.nav-menu ul a {
  width: 100%;
}
</style>