<template>
  <div class="login-area indigo d-flex justify-center align-center">
    <v-form class="login-form" v-model="valid" ref="form" @submit="doLogin">
      <v-container class="white login-container">
        <h2 class="indigo--text">Login</h2>
        <v-row>
          <v-col cols="12">
            <v-text-field
              :rules="emailRules"
              v-model="email"
              label="Email"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              :rules="passwordRules"
              label="Senha"
              v-model="password"
              type="password"
            ></v-text-field>
          </v-col>
        </v-row>
        <div class="d-flex justify-center align-items-center">
          <v-btn
            color="primary"
            :loading="loading"
            :disabled="loading"
            type="submit"
            class="submit-button"
          >
            Entrar
          </v-btn>
        </div>
        <v-row class="d-flex justify-center align-items-center mt-4">
          <v-btn link to="/" class="submit-button indigo--text">
            Voltar
          </v-btn>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import { requiredField } from "../helpers/inputRules";
export default {
  data: () => ({
    email: "",
    password: "",
    loading: false,
    valid: true,
    emailRules: [(email) => requiredField(email, "Informe seu email")],
    passwordRules: [(password) => requiredField(password, "Informe sua senha")],
  }),
  methods: {
    async doLogin(event) {
      event.preventDefault();
      this.$refs.form.validate();
      if (!this.valid) return;
      this.loading = true;
      try {
        const credentials = {
          email: this.email,
          password: this.password,
        };
        await this.$store.dispatch("login", credentials);
        this.loading = false;
        this.$router.push("/dashboard");
      } catch (error) {
        this.loading = false;
        const errors = Object.values(error.response.data.errors);
        this.$toasted.global.error({ msg: errors.join("\n") });
      }
    },
  },
};
</script>

<style>
.login-area {
  height: 100vh;
}
.login-form {
  max-width: 500px;
  width: 100%;
  border-radius: 4px;
}

.login-container {
  padding: 30px;
  border-radius: 4px;
}
</style>