<template>
  <div class="form-area indigo darken-3 d-flex justify-center align-center">
    <v-form ref="form" v-model="valid" @submit="registerUser">
      <v-container class="white form">
        <h1 class="text-align-center indigo--text">Cadastro</h1>
        <v-row>
          <v-col cols="6">
            <v-text-field
              label="Nome"
              :rules="nameRules"
              v-model="name"
              :loading="loading"
              :disabled="loading"
              @change="getGender"
            ></v-text-field>
          </v-col>
          <v-col cols="6">
            <v-text-field
              :loading="loading"
              label="Email"
              :rules="emailRules"
              v-model="email"
              :disabled="loading"
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-text-field
              label="Telefone"
              v-mask="'(##) #####-####'"
              :rules="phoneRules"
              v-model="phone"
              :loading="loading"
              :disabled="loading"
            >
            </v-text-field>
          </v-col>
          <v-col cols="6">
            <v-select
              label="Genero"
              :items="genders"
              :loading="loading"
              :disabled="loading"
              :rules="genderRules"
              v-model="gender"
            >
            </v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-select
              :items="civilStateItems"
              :rules="civilStateRules"
              :loading="loading"
              :disabled="loading"
              v-model="civilState"
              label="Estado civil"
            >
            </v-select>
          </v-col>
          <v-col cols="6">
            <v-text-field
              label="CEP"
              :rules="zipCodeRules"
              :loading="loading"
              :disabled="loading"
              v-mask="'#####-###'"
              v-model="zipCode"
              @change="getAddress"
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="10">
            <v-text-field
              label="Endereço"
              :rules="addressRules"
              v-model="address"
              :loading="loading"
              :disabled="loading"
            >
            </v-text-field>
          </v-col>
          <v-col cols="2">
            <v-text-field
              label="Numero"
              :loading="loading"
              :disabled="loading"
              :rules="numberRules"
              v-model="number"
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="4">
            <v-text-field
              label="Cidade"
              :loading="loading"
              :disabled="loading"
              v-model="city"
              :rules="cityRules"
            >
            </v-text-field>
          </v-col>
          <v-col cols="4">
            <v-text-field
              label="Bairro"
              :loading="loading"
              :disabled="loading"
              v-model="neighborhood"
              :rules="provinceRules"
            >
            </v-text-field>
          </v-col>
          <v-col cols="4">
            <v-text-field
              label="Estado"
              :loading="loading"
              :disabled="loading"
              v-model="province"
              :rules="provinceRules"
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col col="6">
            <v-text-field
              label="Senha"
              v-model="password"
              :rules="passwordRules"
              type="password"
            >
            </v-text-field>
          </v-col>
          <v-col col="6">
            <v-text-field
              label="Confirmação de senha"
              v-model="confirmPassword"
              :rules="[
                (confirmPassword) =>
                  !!confirmPassword || 'É necessário confirmar a senha',
                validatePassword,
              ]"
              type="password"
            >
            </v-text-field>
          </v-col>
        </v-row>
        <div class="d-flex justify-center align-items-center">
          <v-btn
            @click="registerUser"
            color="primary"
            class="submit-button"
            :loading="loading"
          >
            Enviar
          </v-btn>
        </div>
        <v-row class="d-flex justify-center align-items-center mt-4">
          <v-btn link to="/" class="submit-button indigo--text"> Voltar </v-btn>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import { requiredField } from "../helpers/inputRules";
import apiKey from "../config/apiKey.json";
import axios from "axios";
import _ from "lodash";
export default {
  name: "Cadastro",
  data: () => ({
    name: "",
    email: "",
    phone: "",
    gender: "",
    civilState: "",
    zipCode: "",
    address: "",
    number: "",
    city: "",
    neighborhood: "",
    province: "",
    password: "",
    confirmPassword: "",
    valid: true,
    loading: false,
    genders: ["Masculino", "Feminino", "Outro"],
    civilStateItems: [
      "Solteiro(a)",
      "Casado(a)",
      "Divorciado(a)",
      "Viúvo(a)",
      "Separado(a)",
    ],
    nameRules: [(name) => requiredField(name, "Informe um nome")],
    emailRules: [
      (email) => requiredField(email, "Informe um email"),
      (email) => /.+@.+/.test(email) || 'Digite um endereço válido',
    ],
    phoneRules: [
      (phone) => requiredField(phone, "Informe um telefone"),
      (phone) =>
        /^\([1-9]{2}\) (?:[2-8]|9[1-9])[0-9]{3}-[0-9]{4}$/.test(phone) ||
        "Telefone inválido",
    ],
    genderRules: [
      (gender) => requiredField(gender, "É necessário informar um gênero"),
    ],
    civilStateRules: [
      (civilState) => requiredField(civilState, "Informe um estado civil"),
    ],
    zipCodeRules: [
      (zipCode) => requiredField(zipCode, "Informe um CEP"),
      (zipCode) => /[0-9]{5}-[0-9]{3}/.test(zipCode) || "Informe um CEP válido",
    ],
    addressRules: [
      (address) =>
        requiredField(address, "Informe um endereço ou verifique seu CEP"),
    ],
    cityRules: [(city) => requiredField(city, "Informe uma cidade ")],
    numberRules: [(number) => requiredField(number, "Informe um número")],
    provinceRules: [(province) => requiredField(province, "Informe um estado")],
    passwordRules: [
      (password) => requiredField(password, "Informe uma senha"),
      (password) =>
        password.length > 8 || "A senha precisa ter mais de 8 caracteres",
    ],
  }),
  methods: {
    validatePassword() {
      return (
        this.password === this.confirmPassword ||
        "As senhas precisam ser iguais"
      );
    },
    fillFields(data) {
      const { logradouro, localidade, bairro, uf } = data;
      this.address = logradouro;
      this.city = localidade;
      this.neighborhood = bairro;
      this.province = uf;
    },
    getGender: _.debounce(async function () {
      const genderValues = { male: "Masculino", female: "Feminino" };
      try {
        this.loading = true;
        const response = await axios.get(
          `https://genderapi.io/api/?name=${this.name}&key=${apiKey.key}`
        );
        const { gender } = response.data;
        this.gender = genderValues[gender];
        this.loading = false;
      } catch (error) {
        this.loading = false;
      }
    }),
    getAddress: _.debounce(async function () {
      try {
        this.loading = true;
        const { data } = await axios.get(
          `https://viacep.com.br/ws/${this.zipCode}/json/`
        );
        this.fillFields(data);
        this.loading = false;
      } catch (error) {
        this.loading = false;
        console.log(error.message);
      }
    }, 200),
    async registerUser() {
      this.$refs.form.validate();
      if (!this.valid) return;
      const userData = {
        name: this.name,
        email: this.email,
        phone: this.phone,
        province: this.province,
        city: this.city,
        neighborhood: this.neighborhood,
        gender: this.gender,
        civilState: this.civilState,
        password: this.password,
        address: this.address,
        number: this.number,
        zipCode: this.zipCode,
      };
      try {
        this.loading = true;
        await this.$store.dispatch("registerUser", userData);
        this.loading = false;
        this.$router.push("/dashboard");
      } catch (error) {
        this.loading = false;
        const errors = Object.values(error.response.data.errors);
        for (let erro of errors) {
          this.$toasted.global.error({ msg: erro.join("\n") });
        }
      }
    },
  },
};
</script>

<style>
.form-area {
  height: 100vh;
}
.form {
  margin-top: 20px;
  border-radius: 4px;
  padding: 30px !important;
}
.submit-button {
  max-width: 330px;
  width: 100%;
}
</style>