<template>
  <div id="app">
    <v-app data-app>
      <dashboard v-if="this.$route.meta.dashboardLayout" :color="this.$route.meta.color">
        <router-view />
      </dashboard>
      <router-view v-else />
    </v-app>
  </div>
</template>

<script>
import Dashboard from "./views/Dashboard";
export default {
  components: {
    Dashboard,
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  a {
    text-decoration: none;
  }
}
</style>
